
<div class="card frase">
        <div class="card-title"><h3 class="text-center mt-4">Palíndromos</h3></div>
        <div class="card-body">
            <div class="form-group text-center">
                <label class="mb-3" for="frase">Ingresa una frase para ver si es un Palíndromo:</label>
                <input class="form-control" type="text" id="frase" aria-describedby="emailHelp" placeholder="Frase" [(ngModel)]="frase" >
                <button type="submit" class="btn btn-primary mt-3" (click)="validarPalindromo()">Enviar</button>
            </div>
        </div>
</div>


